<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Fund Transfer</title>
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<div class="container">
  <div class="container text-center">
    <h3 style="text-align:center">Transaction Successful!</h3>
    <h4 style="text-align:center"><a href="/login">Click here to login to view the account details</a></h4>
  </div>
</div>
</body>
</html>