<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Process update details</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
<div class="container">
    <div class="container text-center">
        <h2 style="text-align:center">You have updated details successfully!</h2>
        <h2 style="text-align:center"><a href="/login">Click here to Login</a></h2>
    </div>
</div>
</body>
</html>