<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="container">
    <div id="a">
        <h1 align="center"><b>Welcome To ABC BANK</b></h1>
        <div class="topnav">

            <a  href="/">Home</a>
            <a href="/contact">Contact us</a>
            <a href="" class="active" >Register</a>
            <a href="/login" >Login</a>

        </div>
    </div>

    <div  class="row">
        <form  action="/register" method="POST">
            <h3 align="center"><span th:text=" ${message}"/></h3>
            <table  cellpadding="2" align="center" >
                <tr>
                    <h2 style="text-align:center">Registration Form</h2>
                </tr>
                <tr>
                    <td>Enter Full Name:</td>
                    <td><input type="text" class="form-control" name="customerName" placeholder="Enter full name" required="true"></td>
                </tr>
                <tr>
                    <td>Enter Your Address:</td>
                    <td><input type="text" class="form-control" name="address" placeholder="Enter your address" required="true"></td>
                </tr>
                <tr>
                    <td>Enter email id:</td>
                    <td><input type="email" class="form-control" name="emailId" placeholder="Enter email id" required="true"></td>
                </tr>

                <tr>
                    <td>Enter Username:</td>
                    <td><input type="text" class="form-control"  name="username" placeholder="Enter username" required="true"/></td>
                </tr>
                <tr>
                    <td>Enter Password:</td>
                    <td><input type="password" class="form-control" name="password" placeholder="Enter password" required="true"/></td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><input type="number" class="form-control" name="phNo" placeholder="Enter phone number" required="true"></td>
                </tr>
                <div class="form-group justify-content">
<tr>
    <td colspan="2" align="center"><input class="btn btn-primary btn-large btn-block" type="reset" value="Reset" align="center">&nbsp;<input class="btn btn-primary btn-large btn-block" type="submit" value="Register" align="center"></td>
</tr>
                </div>




            </table>
        </form>
    </div>



</div>
</body>
</html>